:root{
    --text-color:#ffffff;
    --primary-color:#282835;
    --secundary-color:#282835ee;
    --button-color:#4200ea;
    --button-color-hover:#3f00dd99;
}

*{
    margin: 0;
    color: var(--text-color);
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

ul > li{
    padding: 0;
}

.display-none{
    display: none;
}